{% block content %}
<h2>Register</h2>

<form method="post">
    
    <input type="hidden" name="csrfmiddlewaretoken" value="k2twlyIYPiEMgebg7QACsKxQxop70zzXoFUEC5TtYgkkok0wD2I8ZlfXEinq5XM8">
    <label for="id_username">Имя пользователя:</label>
    <input type="text" name="username" maxlength="25" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
        <br>
        <!-- <span class="helptext">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.</span> -->
    <label for="id_password1">Пароль:</label>
      <input type="password" name="password1" maxlength="25" autocomplete="new-password" required="" id="id_password1">
        <br>
        <!-- <span class="helptext"><ul><li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Пароль не должен быть слишком простым и распространенным.</li><li>Пароль не может состоять только из цифр.</li></ul></span> -->
    <label for="id_password2">Подтверждение пароля:</label>
      <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
        <br>
        <!-- <span class="helptext">Для подтверждения введите, пожалуйста, пароль ещё раз.</span> -->
        {% csrf_token %}
    <input type="submit" value="Register" >
</form>

<a href="{% url 'login' %}">Back to login</a>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock %}

